<!-- Start presentacion-->
<div id="home" class="parallax">
    <div id="full-width" class="owl-carousel owl-theme home-hero">
        <div class="text-center item slider-01 display-table overlay">
            <div class="display-table-cell" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="form-container">
                    <div class="card col-md-10">
                        <div class="card-body">
                            <p class="title">Historial de citas</p>
                            <table class="table table-dark">
                                <tr>
                                    <th>idReserva</th>
                                    <th>Descripcion</th>
                                    <th>Cliente</th>
                                    <th>Barbero</th>
                                    <th>Cita</th>
                                    <th>Estado</th>
                                </tr>
                                <tr *ngFor="let item of data" class="contenido">
                                    <td *ngIf="item.state !== 'done'">{{item.idReserva}}</td>
                                    <td *ngIf="item.state !== 'done'">{{item.description}}</td>
                                    <td *ngIf="item.state !== 'done'">{{item.client}}</td>
                                    <td *ngIf="item.state !== 'done'">{{item.barber}}</td>
                                    <td *ngIf="item.state !== 'done'">{{item.date}}</td>
                                    <td *ngIf="item.state !== 'done'">{{item.state}}</td>
                                    <td *ngIf="item.state !== 'done'"><button class="boton " (click)="changeState(item) ">Realizado</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End presentacion-->

